html {
  scroll-behavior: smooth;
}


.lang-en { display: none; }
.lang-sq { display: inline; }


body.lang-en .lang-en { display: inline; }
body.lang-en .lang-sq { display: none; }


body{
    background-color: #f3d2dd;
  
    padding: 10px;
}
.navbar {
    background-color: white;
    margin: 0%;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    object-fit: fit contain;
    top: 3px;
     
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(238, 137, 201, 0.57);
}

/* LOGO */
.logo {
    font-size: 28px;
    font-weight: bold;
    font-style: oblique;
    color: #d36a9b;
}

/* MENU */
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* LANGUAGE BUTTONS */
.btn {
    display: flex;
    gap: 10px;
    margin-right:  150px;
}

.btn button {
    background-color: #f3d2dd;
    border: none;
    padding: 8px 12px;
    
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(49, 45, 45, 0.15);
}

.hero{
    padding-top: 60px;
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
   flex-wrap: wrap;
    margin-bottom: 102px;
}
.hero  h1{
    
    font-size: 50px;
    color: #161616;
    margin-bottom: 15px;
    padding: 10px;
    font-weight: normal;
     text-shadow: 0 4px 8px rgba(249, 246, 246, 0.985);
    margin-left: 90px;
}
.hero p{
    font-size: 15px;
    color: #333333;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 16px;
    margin-left: 65px;
}
.hero text{
    display: flex;
    
    align-items: center;
    justify-content: center;
    font-size:40px; 
   text-shadow: 0 10px 15px rgb(249, 246, 246);
    color: #a17282;
    gap: 50px;
    


}
.hero  .btn{
     width: fit-content;
     max-width: fit-content;
    padding: 12px 30px;
    border-radius: 25px;
    background-color:white;
    color: #b57c8a;
    font-size: 18px;
    margin-left: 150px;
    list-style: none;
    
}
.hero .hero-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;;
}
.hero img{
    width: 600px;
    max-width:250px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(249, 246, 246, 0.985);
    margin-left: 20px;
}
.product {
  background-color: white;
  padding: 40px 0;
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
}

.product h1 {
  color: #5e2944;
  text-align: center;
  margin: 0 0 10px;
  font-weight: bolder;
  text-shadow: 15px 15px 15px rgba(194, 150, 150, 0.35);
}

.product  p {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: rgb(172, 125, 133);
  margin-bottom: 30px;
}

/* container */
.product .container {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  flex-wrap: wrap;   
}

/* card */
.product-card {
    justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 24px;
   display: flex;
  flex-direction: column;
  align-items: center;
}


.product img {
  
  padding: 10px;
  width: 270px;
  height: 310px;
  border-radius: 40px;
  box-shadow: 7px 12px 17px rgba(0,0,0,0.08);
  margin: 0 0 15px; 
}

.product h3 {
  margin: 10px 0 10px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color:  #5e2944;
}

/* prices */
.product .price {
  font-size: 16px;
  margin: 6px 0;
  color: black;
  text-shadow: 10px 10px 10px rgba(154, 111, 111, 0.25);

}


.product a.btnbuy{
  
  display: inline-flex;
  justify-content: center;
 margin: 50px auto 0;
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 999px;
  background: rgb(232, 188, 210);
  color: black;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

.product a.btnbuy:hover{
  background: rgb(63, 3, 33);
  color: white;
}

.product-card {
  background: transparent;
  text-align: center;
justify-content: center;
align-items: center;
align-self: start;
}
.winter-set{
  background-color: #f5e8ec;
  margin: 50px 0 10px;

}
.winter-set h1{
   color: #d67aa9;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
  text-shadow: 15px 15px 15px rgb(198, 154, 154);
  margin-top: 40px;
  margin-bottom:50px;
  padding-top: 30px;
}
.winter-set .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
align-items: center;
  gap: 70px;
  
  padding-bottom: 60px;
  
}
.winter-set .container .contant{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.winter-set img{
  height: 550px;
  width: 450px;
  border-radius: 30px;
  box-shadow: 8px  rgba(121, 106, 115, 0.188);

}
.winter-set img:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.winter-set p{
   font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
    padding: 15px;
   
    font-style: italic;
    text-align: center;
}
.winter-set .price{
  
  text-align:center;
  margin: 20px 20px 10px;

   
    color: black;
    text-shadow: 10px 10px 10px rgba(154, 111, 111, 0.25);
    font-size: 22px;
    font-weight: bold;
    
}

.winter-set .btn{
   width: fit-content;
    padding: 12px 30px;
    border-radius: 25px;
    background-color:white;
    color: #b57c8a;
    font-size: 18px;
    margin-left: 150px;
    list-style: none;
    margin-top: 20px;
}

.benefit{
   
    padding: 40px 0;
    margin-bottom: 70px;
}
.benefit h1 {
   color: #232122;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
  text-shadow: 15px 15px 15px rgb(200, 155, 155);
  margin-top: 40px;
  margin-bottom:80px;
  padding-top: 30px;
}
.benefit .benefit-container ul{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;

}
.benefit .benefit-container ul li{
  background-color: #f2c6d3;
  padding: 20px;
  margin-top: 50px;
  border-radius: 20px;
  width: 250px;
  height: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(82, 45, 67, 0.971);
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product1{
  background-color: white;
  padding: 40px 0;
  margin-bottom: 70px;
  margin-top: 100px;
}
.product1 h1 {
  color: #5e2944;
  text-align: center;
  margin: 0 0 10px;
  font-weight: bolder;
  text-shadow: 15px 15px 15px rgba(194, 150, 150, 0.35);
}
.product1 .container{
  display: flex;
  justify-content:start;
  gap: 150px;
  align-items: center;
  margin-left: 30px;;
 margin-top: 70px;
  flex-wrap: wrap;

}
.product1 .container img{
  width: 100%;
}
.contact{
  
  padding: 40px 0;
  margin-bottom: 70px;
}
.contact .container{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap: 70px;
  
  margin-top: 40px;

}
.contact img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(249, 246, 246, 0.985);
}
.contact1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  border-radius: 20px;
  border: #111;
 
}
.contact1 p a{
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}
.contact h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:40px; 
   text-shadow: 0 10px 15px rgb(249, 246, 246);
    color: #a17282;
    gap: 50px;
}
footer{
  margin-top: 80px;
  margin-bottom: 0;
    background-color: white;
    margin: 0%;
    padding: 10px 0;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(238, 137, 201, 0.57);
    justify-content: center;
}
